*{
padding:0px;
margin:0px;
}
body{
font-family:tahoma, verdana, arial, helvetica, sans-serif;
font-size:0.8em;
background-color:#ffffff;
color:#939393;
background-image:url("furniture/bg_main.png");
background-repeat:repeat-x;
background-position:top left;

}


#container{
width:979px;
height:auto;
position:absolute;
margin-left:-489px;
left:50%;
top:39px;
padding-bottom:52px;
}



#header_bg{
width:979px;
height:30px;
background-image:url("furniture/head_bg.png");
background-repeat:no-repeat;
background-position:top left;
}


/*\*/
* html #header_bg{
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='furniture/head_bg.png' ,sizingMethod='crop');
}
/**/

#center{
width:979px;
height:auto;
background-image:url("furniture/mid_bg.png");
background-repeat:repeat-y;
background-position:top left;
}

/*\*/
* html #center{
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='furniture/mid_bg.png' ,sizingMethod='scale');
}
/**/

#content{
padding:158px 10px 0px 8px;
width:960px;
height:auto;
background-image:url("furniture/mid_bg_main.png");
background-repeat:no-repeat;
background-position:top left;
min-height:473px;
}

/*\*/
* html #content{
height:473px;
}
/**/

#header{
background-image:url("furniture/header.png");
background-repeat:no-repeat;
background-position:top left;
width:960px;
height:182px;
position:absolute;
margin-left:8px;
top:5px;
border-bottom:solid 1px #939393;
}


#main_logo{
width:569px;
height:130px;
margin-left:195px;
position:absolute;
top:20px;

}

#advert{
width:399px;
height:157px;
background-image:url("furniture/spring_offer.png");
background-repeat:no-repeat;
background-position:top left;
position:absolute;
top:0px;
left:-1px;
z-index:200;
}

/*\*/
* html #advert{
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='furniture/spring_offer.png' ,sizingMethod='crop');
}
/**/

/*#advert p a{
display:block;
width:300px;
height:150px;
text-indent:-2000px;
}*/

#footer{
display:inline;
width:979px;
height:52px;
position:absolute;
bottom:0px;
background-image:url("furniture/footer_bg.png");
background-repeat:no-repeat;
overflow:hidden;
background-color:transparent;

}


#footer_lv2,#footer_lv2_alt{
border-top:solid 1px #939393;
width:960px;
margin-left:9px;
height:40px;
overflow:hidden;
}

#footer_lv2_alt{
border:0px;

}

#footer_lv2 p, #footer_lv2_alt p{
font-size:11pt;
text-align:center;
font-weight:bold;
color:#ffffff;
margin:7px 25px 0px 25px;
}

#strap{
width:662px;
height:auto;
position:absolute;
margin-left:148px;
top:150px;
}

#nav_holder{
width:662px;
height:35px;
position:absolute;
margin-left:130px;
top:148px;
}

.pad{
padding-left:130px;
}

.cyan{
color:#05B8C1;

}
#strap p{
font-style:italic;
font-size:14pt;
color:#05B8C1;
text-align:center;

}

#head_contact{
text-align:right;
font-size:14pt;
position:absolute;
right:25px;
top:20px;
}

.small{
font-size:9pt;

}

#site_image,#site_image2,#site_image3,#site_image4,#site_image5,#site_image6,#site_image7,#site_image8,#site_image9{
width:960px;
height:473px;
background-image:url("images/women-with-flowers.jpg");
background-repeat:no-repeat;
background-position:top left;

}

#site_image2{
background-image:url("images/image2.jpg");
}
#site_image3{
background-image:url("images/image8.jpg");
}

#site_image4{
background-image:url("images/image4.jpg");
}

#site_image5{
background-image:url("images/image5.jpg");
}

#site_image6{
background-image:url("images/image6.jpg");
}

#site_image7{
background-image:url("images/image7.jpg");
}

#site_image8{
background-image:url("images/image8.jpg");
}
#site_image9{
background-image:url("images/image9.jpg");
}

#site_content{
width:960px;
height:420px;



}

#blank{
width:960px;
height:473px;



}

#float_con{
float:left;
height:auto;

}
.float{
display:inline;
margin-left:25px;
width:440px;
height:400px;
float:left;
margin-top:25px;

}

#map{
width:440px;
height:270px;
border:solid 1px #666666;
margin-bottom:20px;
}

p, h1, h2, h3, p.larger{
color:#939393;
margin-bottom:15px;
line-height:16pt;
padding:0px 10px 0px 10px;
}

p.larger{
font-size:13pt;
padding-left:20px;
line-height:18pt;
}

.pad_left{
padding-left:20px;

}
h1, h2, h3{
line-height:auto;
}

h1{
margin-top:15px;
font-size:20pt;
font-weight:normal;
}
.hide{
display:none;
}

h1.main{
margin:0px;
padding:0px;
}

h2{
font-size:14pt;
}

h3{
font-size:12pt;
}


.cyan{
color:#05B8C1;
}

.grey{
color:#939393;
}

.purp{
color:#967EB0;
}

img.heads{
margin-bottom:15px;
}

.pre_box{
height:144px;
width:180px;
float:left;
margin:0px 30px 20px 0px;
}

.pre_title{
width:170px;
height:auto;
color:#ffffff;
text-align:center;
background-color:#05B8C1;
font-size:11pt;
padding:2px 5px 2px 5px;
}


.controls{
width:auto;
text-align:right;
padding:15px 25px 15px 0px;
}

.popup_controls{
display:inline;
width:auto;
text-align:left;
font-size:14pt;
position:absolute;
bottom:45px;
left:20px;
font-weight:bold;
}

#video_popup{
width:720px;
height:395px;
position:absolute;
top: 225px;
left:120px;
}

#shadow{
width:720px;
height:395px;
background-color:#000000;
opacity: .10;
filter: alpha(opacity=10);
position:absolute;
z-index:1
}

#video_content{
background-image:url("furniture/video_bg.gif");
background-repeat:no-repeat;
background-position:top left;
position:absolute;
margin-top:2px;
left:2px;
width:714px;
height:390px;
z-index:2
}


#video_player{
width:350px;
height:auto;

margin-right:15px;
margin-top:20px;
margin-left:20px;
display:inline;
float:left;
}
#video_description{
width:310px;
height:auto;

float:left;
margin-top:20px;

}

#overflow{
width:306px;
height:195px;
overflow:auto;
margin-bottom:5px;
}
/* end */

/*video players*/


.red{
color:#8F0000;
}


/* forms */
table.sub_forms, table.user_form, table.user_form2{
border-collapse:collapse;
margin:10px 0px 0px 10px;

}

table.user_form2{
border:solid 1px white;
}

table.user_form input{
margin:3px 0px 7px 0px;
}
table{
font-size:1em;
}
input, input.short, textarea, select{
border:solid 1px #666666;
}
input.checkbox{
border:0px;
}
input.short{
width:193px;
height:15px;
padding-right:4px;
padding-left:4px;
}


input.button{
width:auto;
height:17px;
font-size:8pt;
font-weight:bold;
background-color:#006967;
color:#ffffff;
text-align:center;
padding-left:2px;
padding-right:2px;
cursor:pointer;
}

input.mini_form, input.wide{
font-family:tahoma, Verdana, Arial, Helvetica, sans-serif;
margin-bottom:5px;
color:#000000;
background-color:#ffffff;
font-size:1em;
width:215px;
height:15px;
}

input.wide{
width:420px;
}
textarea.mini_form, textarea.general, textarea.small, textarea.contact{
font-family:tahoma, Verdana, Arial, Helvetica, sans-serif;
margin-bottom:5px;
color:#000000;
background-color:#ffffff;
background-color:#ffffff;
font-size:1em;
width:420px;
height:80px;
overflow:hidden;
}

textarea.general{
width:100%;
height:80px;
}

textarea.contact{
width:420px;
height:80px;
}
textarea.small{
width:350px;
height:40px;
border:solid 1px black;
overflow:auto;
}

table.small_form{
border-collapse:collapse;
height:200px;
border:none;
margin-left:25px;
margin-bottom:25px;

}

.ital{
font-style:italic;
}





.speech_left,.speech_right{
font-family:Garamond;
margin:0px 10px 0px 0px;
font-size:17pt;
font-weight:bold;
color:#C4AE30;

}

.speech_right{

margin:0px 0px 0px 10px;

}


.show{
display:inline;
}

.hidden{
display:none;
}

#ph{
width:auto;
}

.dvlarge{
font-size:20pt;

}

.dlarge{
font-size:18pt;

}

.dmedium{
font-size:13pt;

}

dsmall{
font-size:11pt;


}
.bold{
font-weight:bold;
}

ul{
list-style-type:disc;
color:#05B8C1;
list-style-position:outside;
padding-left:25px;
padding-bottom:15px;
}

li{
line-height:16pt;
}

#enter_site_btn{
width:378px;
height:149px;
margin:30px 0px 50px 15px;
}

p.provider{
position:absolute;
bottom:0px;
left:20px;
padding:0px;
}

.section_options{
width:440px;
height:auto;
float:left;
margin-top:15px;
}

.section_options p{
font-size:14px;
font-weight:bold;
}

.purple{
color:#967eb0;
}

p.lrg{
font-size:14px;
font-weight:bold;
}
.sml{
font-size:12px;
font-style:italic;
}